@import '../../utils/constants.scss';

.hiringboard-container {
  color: $subtitle-color;
  min-width: 85%;
  max-width: 85%;
  margin: 0 auto;

  h1 {
    font-family: $primary-font;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 2rem;
    color: $theme-color-primary;
  }
  h2 {
    font-family: $primary-font;
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 2rem;
  }
  p {
    margin-bottom: 2rem;
    font-size: 1rem;
    font-family: $primary-font;
    letter-spacing: 1.3px;
    line-height: 1.5;
  }
}

.hiringboard-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hiringboard-card {
  border: 2px solid $theme-color-primary;
  min-height: 400px;
  max-height: 450px;
  overflow-y: scroll;
  padding: 40px;
  position: relative;
  width: 48%;
  
  p {
    margin-bottom: 5px;

    span {
      display: inline-block;
      width: 150px;
    }
  }
}

#consultation-button-container {
  bottom: 40px;
  display: flex;
  position: absolute;
  right: 40px;
  justify-content: flex-end;
}

button.consultation-button {
  width: auto;
  color: $title-color;
  background-color: $theme-color-primary;
  border: none;
  text-transform: uppercase;
  font-size: .8rem;
  font-family: $secondary-font;
  margin-left: 20px;
  padding: 10px 30px;

  &--close {
    margin: 20px 0 0;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &--disconnect {
    margin: 0;
  }
}

button.consultation-button:hover {
  background-color: $input-background-color;
  color: $theme-color-primary;
}

button.consultation-button:disabled {
  background-color: $input-background-color;
  color: $theme-color-primary;
  cursor: not-allowed;
}

.bounty-list {
  display: flex;
  flex-direction: column;
}

.bounty-list-item {
  align-items: center;
  border: 2px solid transparent;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  transition: all .3s ease;

  &--2 {
    background: rgba(0, 0, 0, 0.2);
  }

  &:hover {
    border: 2px solid $theme-color-primary;
    cursor: pointer;
  }
}

.increase-withdraw-list-item {
  align-items: center;
  border: 2px solid transparent;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  transition: all .3s ease;

  &--2 {
    background: rgba(0, 0, 0, 0.2);
  }
}

.bounty-list-item-inner {
  align-items: center;
  display: flex;

  p {
    font-size: .8rem;
    margin: 0;
  }

  p.bounty-detail {
    width: 100px;
  }

  .withdraw-amount {
    &--red {
      color: red;
    }
    &--green {
      color: green;
    }
  }

  button {
    width: auto;
    color: $title-color;
    background-color: $theme-color-primary;
    border: none;
    text-transform: uppercase;
    font-size: .6rem;
    font-family: $secondary-font;
    padding: 8px 20px;
  }
}

.connected-account {
  color: $theme-color-primary;
  font-size: 1rem;
  font-family: $primary-font;
  letter-spacing: 1.3px;
}

.deposit-withdraw-card {
  border: 2px solid $theme-color-primary;
  margin-top: 40px;
  padding: 20px;
  width: 48%;

  p {
    margin-bottom: 0;
  }

  input {
    background: #000;
    color: #fff;
    font-family: $secondary-font;
    border: 2px solid $theme-color-primary;
    font-size: 1rem;
    height: 40px;
    margin-bottom: 20px;
    padding: 4px 8px;
    width: 100%;
  }
}

.etherscan-container {
  margin-left: 10px;
}

.open-bid-details-flex {
  display: flex;
}

#lock-time {
  margin-top: 15px;
  margin-bottom: 0;
  text-align: center;
}

.open-bounty-buttons-container {
  display: flex;
  height: 40px;
  justify-content: center;
  margin-top: 20px;
  position: relative;
  width: 48%;
}
