@import '../../utils/constants.scss';

#deposit-withdraw-card {
  border: 2px solid $theme-color-primary;
  border-radius: 4px;
  overflow-y: scroll;
  margin-top: 24px;
  padding: 32px;
  width: 95%;

  p {
    margin-bottom: 5px;

    span {
      display: inline-block;
      width: 150px;
    }
  }

  input {
    background: #000;
    color: #fff;
    font-family: $secondary-font;
    border: 2px solid $theme-color-primary;
    font-size: 1rem;
    height: 40px;
    margin-bottom: 20px;
    padding: 4px 8px;
    width: 100%;
  }
}

#consultation-request-card {
  border: 2px solid $theme-color-primary;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 32px;
  width: 95%;

  p {
    font-size: 12px;
    margin-bottom: 16px;
  }
}

#consultation-button-container {
  bottom: 40px;
  display: flex;
  position: absolute;
  right: 40px;
  justify-content: flex-end;
}

button.consultation-button {
  width: auto;
  color: $title-color;
  background-color: $theme-color-primary;
  border: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-family: $secondary-font;
  padding: 10px 30px;
}

button.consultation-button:hover {
  background-color: $input-background-color;
  color: $theme-color-primary;
}

button.consultation-button:disabled {
  background-color: $input-background-color;
  color: $theme-color-primary;
  cursor: not-allowed;
}

.bounty-list-item {
  align-items: center;
  border: 2px solid transparent;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  transition: all 0.3s ease;

  &--2 {
    background: '#111111';
  }

  &:hover {
    border: 2px solid $theme-color-primary;
    cursor: pointer;
  }
}

.bounty-list-item-inner {
  align-items: center;
  display: flex;

  p {
    font-size: 0.8rem;
    margin: 0;
  }

  .withdraw-amount {
    &--red {
      color: red;
      font-size: 1rem;
    }
    &--green {
      color: green;
      font-size: 1rem;
    }
  }

  button {
    width: auto;
    color: $title-color;
    background-color: $theme-color-primary;
    border: none;
    text-transform: uppercase;
    font-size: 0.6rem;
    font-family: $secondary-font;
    padding: 8px 20px;
  }
}

.etherscan-container {
  margin-left: 10px;
}

.open-bid-details-flex {
  align-items: center;
  display: flex;
  margin-bottom: 12px;
}

.open-bid-details-flex span {
  display: inline-block;
  width: 120px;
}

#lock-time {
  display: inline-block;
  border: 1px solid #666666;
  border-radius: 4px;
  color: #666666;
  font-size: 0.8rem;
  margin: 15px auto 0;
  padding: 5px 10px;
  text-align: center;
  text-transform: uppercase;
}

.open-bounty-buttons-container {
  align-items: center;
  display: flex;

  button:first-child {
    margin-right: 12px;
  }
}
