@import './utils/constants.scss';

.app {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $background-color-primary;
  border: 2px solid $theme-color-primary;
}

.window {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $title-color;
  font-family: $primary-font;
  h1 {
    font-size: 2rem;
    text-transform: uppercase;
    color: $theme-color-primary;
    margin-bottom: 2rem;
  }
  p {
    width: 70%;
    font-size: 1rem;
    text-align: center;
    letter-spacing: 1.3px;
  }
}

#raidguild-logo {
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  margin: 2rem 0 0 2rem;
}

#rg-crest {
  position: fixed;
  top: 0;
  right: 0;
  margin: 1rem;
}

#next-stage-button,
#prev-stage-button {
  position: fixed;
  bottom: 0;
  width: auto;
  color: $title-color;
  background-color: $theme-color-primary;
  border: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: $secondary-font;
  margin-bottom: 3rem;
  padding: 0.7rem;
}

#prev-stage-button {
  left: 0;
  margin-right: auto;
  margin-left: 3rem;
}

#next-stage-button {
  right: 0;
  margin-left: auto;
  margin-right: 3rem;
}

#next-stage-button:hover,
#prev-stage-button:hover {
  background-color: $input-background-color;
  color: $theme-color-primary;
}

#prev-stage-button:focus,
#next-stage-button:focus {
  outline: none;
}

#faq {
  color: $theme-color-secondary;
  text-transform: uppercase;
  text-decoration: underline;
  font-family: $secondary-font;
}

#faq-stage-link {
  position: absolute;
  top: 0;
  right: 0;
  margin: 2rem 2rem 0 0;
  color: $theme-color-secondary;
  text-transform: uppercase;
  text-decoration: underline;
  font-family: $secondary-font;
}

#payment-info-link {
  position: absolute;
  bottom: 0;
  right: 0;
  color: $theme-color-primary;
  font-family: $secondary-font;
  margin-right: 3rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

#payment-info-link:hover {
  text-decoration: underline;
}

.headsup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $subtitle-color;
  padding: 5rem;
  h1 {
    font-family: $primary-font;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
    color: $theme-color-primary;
  }
  p {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-family: $primary-font;
    letter-spacing: 1.3px;
    line-height: 1.5;
  }
}

.personal-info-container,
.project-info-container,
.required-services-container,
.additional-info-container {
  width: 75%;
  margin: auto;
  font-family: $primary-font;
  .chakra-form__label {
    color: $title-color;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .chakra-radio__label {
    color: $theme-color-secondary;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .chakra-checkbox__label {
    color: $title-color;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  input,
  textarea {
    background-color: $input-background-color;
    border: none;
    border-radius: 0;
    color: $title-color;
  }
  input:focus,
  textarea:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid $theme-color-primary;
  }
  .DayPickerInput {
    font-family: $secondary-font;
    input {
      padding: 0.6rem;
    }
  }
  .DayPicker-Day {
    border: 2px solid $theme-color-secondary;
    color: $theme-color-secondary;
  }
  .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
    background-color: $theme-color-secondary;
    border-radius: 0;
  }
  //   .DayPickerInput-Overlay {
  //     bottom: 50px;
  //   }
}

.required-services-container {
  .chakra-checkbox__label {
    color: $theme-color-secondary;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}
